@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root {
  --background: #ffffff; 
  --foreground: #000000; 
  --svg-fill-color: black;
}


html.dark {
  --background: #1a202c; 
  --foreground: #ffffff; 
  --svg-fill-color: white;
}

.svg-icon {
  color: var(--svg-fill-color);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}